openapi: 3.0.3

info:
  title: Gallicagram API
  version: "1.2.0"
  description: |
    API permettant d'interroger des bases de fréquences lexicales et de cooccurrences
    construites à partir de grands corpus historiques (Gallica, Le Monde, Persée, etc.).

    ### 📚 Utilisation rapide
    L'API retourne systématiquement des données au format **CSV**.
    
    Exemple R : 
    ```r
    read.csv("https://shiny.ens-paris-saclay.fr/guni/query?mot=patate")
    ```

  contact:
    name: Documentation de l'API
    url: https://regicid.github.io/api

servers:
  - url: https://shiny.ens-paris-saclay.fr/guni
    description: Serveur principal

paths:
  /query:
    get:
      summary: Fréquence d'un mot ou syntagme
      description: |
        Retourne le nombre d'occurrences d'un mot ou groupe de mots sur une période donnée.
        
        **Colonnes CSV retournées :** `n` (occurrences), `gram`, `annee` (ou `date`), `mois`
        (si résolution mensuelle ou journalière), `jour` (si résolution journalière),
        `total` (volume total du corpus).
        
        **Corpus `lemonde_rubriques` :** vous pouvez filtrer par rubrique via `rubrique`
        et ventiler les résultats par rubrique via `by_rubrique=True`.
      parameters:
        - name: mot
          in: query
          description: Mot ou expression à chercher.
          required: true
          schema:
            type: string
          example: patate
        - $ref: '#/components/parameters/CorpusParam'
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: resolution
          in: query
          description: Granularité temporelle (jour, mois, annee). Par défaut selon le corpus.
          required: false
          schema:
            $ref: '#/components/schemas/Resolution'
          example: annee
        - name: rubrique
          in: query
          description: |
            **Corpus `lemonde_rubriques` uniquement.**
            Codes des rubriques à filtrer, séparés par un espace (ex: `international politique`).
            Si absent, toutes les rubriques sont incluses.
          required: false
          schema:
            type: string
          example: 
        - name: by_rubrique
          in: query
          description: |
            **Corpus `lemonde_rubriques` uniquement.**
            Si `True`, ventile les résultats par rubrique (une ligne par rubrique et par date).
            Valeur attendue : la chaîne `True` (avec majuscule).
          required: false
          schema:
            type: string
            enum: ["True", "False"]
            default: "False"

      responses:
        "200":
          description: CSV des fréquences temporelles
          content:
            text/csv:
              schema:
                type: string
                example: "n,gram,annee,mois,total\n42,patate,1789,01,1000000"

  /contain:
    get:
      summary: N-grams contenant deux mots
      description: |
        Compte ou liste les n-grams contenant simultanément `mot1` et `mot2`.
        Idéal pour les études de stéréotypes.
      parameters:
        - $ref: '#/components/parameters/CorpusParam'
        - name: mot1
          in: query
          required: true
          schema:
            type: string
          example: crise
        - name: mot2
          in: query
          required: true
          schema:
            type: string
          example: financière
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: count
          in: query
          description: "Si `True`, renvoie les comptages. Si `False`, renvoie les n-grams bruts."
          schema:
            type: string
            enum: ["True", "False"]
            default: "True"

      responses:
        "200":
          description: CSV des cooccurrences ou n-grams
          content:
            text/csv:
              schema:
                type: string

  /joker:
    get:
      summary: Mots apparaissant autour d'un terme (Wildcard)
      description: |
        Renvoie les mots les plus fréquents avant ou après un terme pivot.
        Analogue au "wildcard" de Ngram Viewer (ex: `camarade *`).
        
        **Limitations par corpus :**
        - Presse/Livres Gallica : maximum 2 mots en entrée, `length` max 3
        - Le Monde : maximum 3 mots en entrée, `length` max 4
      parameters:
        - name: mot
          in: query
          required: true
          schema:
            type: string
          example: camarade
        - $ref: '#/components/parameters/CorpusParam'
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: n_joker
          in: query
          description: "Nombre de résultats à retourner (entier positif). Défaut 10."
          required: false
          schema:
            type: integer
            minimum: 1
            default: 10
          example: 10
        - name: after
          in: query
          description: "Si `True`, cherche après le mot. Si `False`, cherche avant."
          schema:
            type: string
            enum: ["True", "False"]
            default: "True"
        - name: length
          in: query
          description: Longueur du n-gram complet (pivot inclus). Limité selon le corpus.
          schema:
            $ref: '#/components/schemas/GramLength'
          example: 2

      responses:
        "200":
          description: CSV des mots contextuels les plus fréquents
          content:
            text/csv:
              schema:
                type: string

  /associated:
    get:
      summary: Voisinage lexical (Cooccurrences locales)
      description: |
        Renvoie les mots les plus fréquemment associés à un terme dans une fenêtre glissante.
        
        **Limitation :** `length` maximum de 3 pour les corpus Gallica.
      parameters:
        - name: mot
          in: query
          required: true
          schema:
            type: string
          example: changement
        - $ref: '#/components/parameters/CorpusParam'
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: n_joker
          in: query
          description: "Nombre de résultats à retourner. Défaut 10."
          required: false
          schema:
            type: integer
            minimum: 1
            default: 10
        - name: length
          in: query
          description: "Taille de la fenêtre de voisinage (max 3 pour corpus Gallica). Défaut 2."
          required: false
          schema:
            $ref: '#/components/schemas/GramLength'
          example: 2
        - name: stopwords
          in: query
          description: "Nombre de mots vides (les plus fréquents du corpus) à ignorer. Défaut 500."
          required: false
          schema:
            $ref: '#/components/schemas/StopwordsCount'
          example: 500

      responses:
        "200":
          description: CSV des associations lexicales
          content:
            text/csv:
              schema:
                type: string

  /associated_article:
    get:
      summary: Voisinage sémantique par article (Le Monde uniquement)
      description: |
        **Corpus Le Monde uniquement** (passer `corpus=lemonde`).
        Explore l'environnement sémantique au niveau de l'article entier plutôt que du n-gram.
        
        **Limitation :** Fonctionne uniquement avec un mot simple (pas de syntagmes multi-mots).
      parameters:
        - name: mot
          in: query
          required: true
          description: Mot simple uniquement (pas de syntagmes multi-mots).
          schema:
            type: string
          example: climatique
        - name: corpus
          in: query
          required: false
          description: Doit être `lemonde`. Ce paramètre est transmis mais le seul corpus supporté est Le Monde.
          schema:
            type: string
            enum: [lemonde]
            default: lemonde
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: n_joker
          in: query
          description: "Nombre de résultats à retourner. Défaut 10."
          required: false
          schema:
            type: integer
            minimum: 1
            default: 10
        - name: length
          in: query
          description: "Taille de la fenêtre sémantique. Défaut 2."
          required: false
          schema:
            $ref: '#/components/schemas/GramLength'
          example: 2
        - name: stopwords
          in: query
          description: "Nombre de mots vides à ignorer. Défaut 500."
          required: false
          schema:
            $ref: '#/components/schemas/StopwordsCount'
          example: 500

      responses:
        "200":
          description: CSV des associations par article
          content:
            text/csv:
              schema:
                type: string

  /cooccur:
    get:
      summary: Cooccurrences par article (Le Monde uniquement)
      description: |
        **Corpus Le Monde uniquement.** Aucun paramètre `corpus` n'est attendu.
        Compte les articles contenant `mot1` ET `mot2`.
      parameters:
        - name: mot1
          in: query
          required: true
          description: "Mot ou collection de mots séparés par un espace (ex: `crise crises`)."
          schema:
            type: string
          example: climatique climatiques
        - name: mot2
          in: query
          required: true
          description: "Mot ou collection de mots séparés par un espace (ex: `crise crises`)."
          schema:
            type: string
          example: crise crises
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: resolution
          in: query
          schema:
            $ref: '#/components/schemas/Resolution'

      responses:
        "200":
          description: CSV des cooccurrences (colonnes `n`, `nb_total_article`, dates selon résolution)
          content:
            text/csv:
              schema:
                type: string

  /query_article:
    get:
      summary: Fréquence par nombre d'articles (Le Monde uniquement)
      description: |
        **Corpus Le Monde uniquement.** Aucun paramètre `corpus` n'est attendu.
        Compte le nombre d'articles contenant le mot (vs nombre d'occurrences).
        
        Retourne également `nb_total_article` pour calculer les fréquences.
      parameters:
        - name: mot
          in: query
          required: true
          schema:
            type: string
          example: délinquance
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: resolution
          in: query
          schema:
            $ref: '#/components/schemas/Resolution'

      responses:
        "200":
          description: CSV du nombre d'articles
          content:
            text/csv:
              schema:
                type: string

  /query_persee:
    get:
      summary: Recherche spécifique Corpus Persée
      description: |
        Interroge le corpus scientifique Persée avec filtrage par revue possible.
        
        **Limitation :** Syntagmes maximum de 2 mots.
      parameters:
        - name: mot
          in: query
          required: true
          description: Mot ou syntagme (max 2 mots).
          schema:
            type: string
          example: inégalités
        - $ref: '#/components/parameters/FromParam'
        - $ref: '#/components/parameters/ToParam'
        - name: by_revue
          in: query
          description: "Si `True`, ventile les résultats par revue."
          schema:
            type: string
            enum: ["True", "False"]
            default: "False"
        - name: revue
          in: query
          description: "Codes des revues séparés par un espace (ex: `arss ahess`). Si absent et by_revue=True, cherche dans toutes les revues."
          schema:
            type: string
          example: arss ahess

      responses:
        "200":
          description: CSV des résultats Persée
          content:
            text/csv:
              schema:
                type: string

components:
  parameters:
    CorpusParam:
      name: corpus
      in: query
      required: false
      description: "Choix du corpus (défaut `presse`). Voir Schemas pour les détails."
      schema:
        $ref: '#/components/schemas/CorpusCode'
      example: lemonde

    FromParam:
      name: from
      in: query
      description: Année de début.
      schema:
        $ref: '#/components/schemas/Year'
      example: 1945

    ToParam:
      name: to
      in: query
      description: Année de fin.
      schema:
        $ref: '#/components/schemas/Year'
      example: 2022

  schemas:
    Year:
      type: integer
      minimum: 1600
      maximum: 2025
      description: Année (format YYYY)

    StopwordsCount:
      type: integer
      minimum: 0
      maximum: 1000
      default: 500
      description: |
        Nombre de mots très fréquents (stopwords) à exclure du calcul.
        La valeur par défaut utilisée par l'application est 500.

    GramLength:
      type: integer
      minimum: 1
      maximum: 5
      default: 2
      description: |
        Taille du n-gram (pivot inclus). **Limites par corpus :**
        - Presse Gallica : max 3
        - Le Monde : max 4
        - Livres Gallica : max 5
        - Autres corpus Gallica : max 2

    Resolution:
      type: string
      enum: [jour, mois, annee]
      description: Granularité temporelle des résultats.

    CorpusCode:
      type: string
      description: |
        Identifiant du corpus à interroger.
        
        | Corpus | Code | Période | N-gram max | Résolutions disponibles |
        | :--- | :--- | :--- | :---: | :--- |
        | **Le Monde** | `lemonde` | 1944–2023 | 4 | jour, mois, annee |
        | **Le Monde par rubriques** | `lemonde_rubriques` | 1944–2023 | 4 | jour, mois, annee |
        | **Presse Gallica** | `presse` | 1789–1950 | 3 | mois, annee |
        | **Livres Gallica** | `livres` | 1600–1940 | 5 | annee |
        | **Persée** | *(via /query_persee)* | 1789–2023 | 2 | annee |
        | **Deutsches Zeitungsportal** | `ddb` | 1780–1950 | 2 | mois, annee |
        | **American Stories** | `american_stories` | 1798–1963 | 3 | annee |
        | **Journal de Paris** | `paris` | 1777–1827 | 2 | jour, mois, annee |
        | **Moniteur Universel** | `moniteur` | 1789–1869 | 2 | jour, mois, annee |
        | **Journal des Débats** | `journal_des_debats` | 1789–1944 | 1 | jour, mois, annee |
        | **La Presse** | `la_presse` | 1836–1869 | 2 | jour, mois, annee |
        | **Le Constitutionnel** | `constitutionnel` | 1821–1913 | 2 | jour, mois, annee |
        | **Le Figaro** | `figaro` | 1854–1952 | 2 | jour, mois, annee |
        | **Le Temps** | `temps` | 1861–1942 | 2 | jour, mois, annee |
        | **Le Petit Journal** | `petit_journal` | 1863–1942 | 2 | jour, mois, annee |
        | **Le Petit Parisien** | `petit_parisien` | 1876–1944 | 2 | jour, mois, annee |
        | **L'Humanité** | `huma` | 1904–1952 | 2 | jour, mois, annee |
        | **Subtitles (FR)** | `subtitles` | 1935–2020 | 3 | annee |
        | **Subtitles (EN)** | `subtitles_en` | 1930–2020 | 3 | annee |
        | **Rap (Genius)** | `rap` | 1989–2024 | 5 | annee |
      enum:
        - lemonde
        - lemonde_rubriques
        - presse
        - livres
        - ddb
        - american_stories
        - paris
        - moniteur
        - journal_des_debats
        - la_presse
        - constitutionnel
        - figaro
        - temps
        - petit_journal
        - petit_parisien
        - huma
        - subtitles
        - subtitles_en
        - rap